<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moral_Hamburger</title>
    <link rel="stylesheet" href="./public/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>
            Pour out Heart
        </h1>
        <form action="/create" method="POST">
            <div class="form-group">
                <label for="title">What the Talk is about:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="content">Write it up:</label>
                <textarea id="content" name="content" class="form-control" rows="6" required></textarea>

            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
    </div>
</body>
</html>